


.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .link-button{
    /* background-color: rgba(255,255,255,0.4); */
    /* border: 1px solid rgba(255,255,255,0.1); */
    background: rgb(41, 41, 41);
    border: 2px solid rgba(255, 255, 255, 0.2);
    width: 100px;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.4s;
  }
  .link-button:hover{
  border:2px solid rgba(255, 255, 255, 0.774);
  }

  .about-text{
    width: 70%;
    margin: auto;
    text-align: center;
  }

  .about-body{
    /* background-color: #282c34; */
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  /* NAV STYLING */

  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    max-height: 6vh;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    z-index: 10000;
    transition: 300ms;
    color: black;
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(128, 127, 127, 0.459);
   }

   .nav-item{
    display: inline-block;
    margin: 20px;
    color: inherit;
    text-decoration: none;
    transition: 200ms;
    font-size: 15px;
  }
  .nav-item:hover{
    color: grey;
    transition: 200ms;
  }

  .navbar{
    padding: 0;
    display: inline-block;
    
  }

  .desktop-header{
    font-size: 25px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }

  .mobile-header{
    display: none;
    font-size: 20px;
    color: inherit;
    font-weight: bold;
    text-decoration: none;
  }


  .button{
    background-color: rgba(255,255,255,0.4);
    border: 1px solid rgba(255,255,255,0.1);
    width: 100px;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    transition: transform .2s ease-in-out;

  }
  .button:hover{
    transform: scale(1.03);
    /* background-image:radial-gradient(#5174f1, #94bbe9); */
    background-color: rgba(255, 255, 255, 0.649);
  }

  .form-title{
    display: inline-block;
    
    padding-top: 1%;
    margin: 0%;
  }

  .hide{
    display: none;
  }
  
  .form-container{
    width:50%;
    /* z-index: 10000; */
  }

  .form-submit{
    align-self: center;
    background-color: rgba(255, 255, 255, 0.615);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    width: 30%;
    color: white;
    margin-top: 1%;
  }

  [type="submit"] {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background:rgba(0, 122, 255, 1);
    border-radius:3
    0px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.2s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:rgba(10, 132, 255, 1); }

  .submit-div{
    text-align: center;
  }

  .form-input{
    color:black;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 10px;
    line-height: 22px;
    background: white;
    border: 1px solid rgb(176, 176, 176);
    transition: all 0.2s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline:0;
  }
  ::placeholder{
    color:rgb(176, 176, 176)
  }

  .form-input:focus { border:1px solid black; }
  

  .title{
    /* background-color: #282c34; */
    background-color: white;
    margin: 0;
    padding-top: 30px;
  }

  .listing-card {
    color: #fff;
    margin: 20px auto;
    background: white;
    width: 70%;
    border-radius: 20px;
    display: inline-block;
    padding: 8px 32px;
    backdrop-filter: blur(10px);
    transition: all .2s ease-in-out;
    }

    .listing-card:hover{
      transform: scale(1.01);
    }

    .listing-link{
        color: white;
        text-decoration: none;
        
    }

    .listing-image{
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
    }

    .listing-link:visited{
        text-decoration: none;
    }


    .listing-title {
      font-size: 20px;
      text-align: left;
      margin: 5 0 5 0;
      color: black;
    }
    .listing-attribute{
        margin: 1%;
        font-size: 14px;
        text-align: left;
        color: black;
    }
  
  .App-body {
    /* background-image:radial-gradient(#5174f1, #94bbe9); */
    /* background-color: #282c34; */
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-header {
    /* background-image:radial-gradient(#5174f1, #94bbe9); */
    /* background-color: #282c34; */
    background-color: white;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  /* MOBILE STYLING */

  @media (max-width: 1028px) {
  
    .nav-item{
        
      margin:0;
      margin-left: 15px;
    }

    .mobile-header{
      display: inline-block;
    }

    .desktop-header{
      display: none;
    }

    .form-container{
      width: 80%;
    }

  }