
    .App-body {
      background-color: white;
      position: relative;
      /* min-height: 100vh; */
      /* display: flex; */
      /* flex-direction: column; */
      align-items: left;
      /* justify-content: center; */
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      color: black;
      padding: 10px;
    }
    
    .table-container{
      width: 100%;
    }

    table {
      display: block;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      max-width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      /* padding: 8px; */
    }
    
    tr:nth-child(odd) {
      background-color: #dddddd;
    }
    .schedule-container{
  
    margin: auto;
  
    }
  
    .schedule-header{
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      line-height: 1.1;
      font-size: 30px;
    }

    .term-select{
    color: #5B5E65;
    border-color: #B2B3B7;
    line-height: normal;
    border: 1px solid #B2B3B7;
    color: black;
    border-radius: 3px;
    }
    .nav{
      height: 8%;
      border-bottom: 4px solid #005493;
    }
  
   .link{
    color: #808080;
    font-size: 14px;
    text-decoration: none;
   }

   .sub1{
     font-size: 18px;
   }

   .sub2{
     font-weight: bold;
   }

   /* .sub2{
     
   } */
  
    .desktop-header{
      font-size: 55px;
      text-decoration: none;
      color: inherit;
      font-weight: bold;
      margin-top: 10px;
      font-family: Sohne, Arial, sans-serif
    }
  
    .mobile-header{
      display: none;
      font-size: 50px;
      color: inherit;
      font-weight: bold;
      text-decoration: none;
      font-family: Sohne, Arial, sans-serif
  
    }
  
  
    @media (max-width: 1028px) {
    
      .nav-item{
          
        margin:0;
        margin-left: 15px;
      }
  
      .listing-card{
        border-top: 1px solid rgba(128, 127, 127, 0.459);
      }
      .listing-card:hover{
        transform: scale(1.0);
      }
  
      .product-image{
        max-width: 100%;
        margin: 0;
      }
  
      .mobile-header{
        display: inline-block;
      }
  
      .desktop-header{
        display: none;
      }
  
  
      .form-container{
        width: 80%;
      }
  
    }